@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer utilities {
	html {
		scroll-behavior: smooth;
	}
	:root {
		--background: #ffffff;
		--radius: 16px;

		--gradient-green: 264.55deg, #4ad769 10.74%, #a4e266 75.83%;
		--gradient-green-light: 264.55deg, #5afc7e 10.74%, #b7fb74 75.83%;
		--gradient-green-dark: 264.55deg, #40bc5b 10.74%, #84b752 75.83%;
		--gradient-gray: 180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0.4) 100%;
	}

	body {
		background: var(--background);
		font-family: Helvetica, Arial, sans-serif;
	}
	button {
		@apply cursor-pointer;
	}

	footer {
		@apply min-h-[75px] flex flex-col gap-[42px] p-6 bg-white font-aeonik-trial text-[20px] leading-[22.8px] lg:flex-row lg:items-center lg:justify-between lg:px-[60px] xl:px-[180px] 3xl:px-[300px] 3xl:py-[60px];
	}

	.header {
		@apply fixed top-0 left-0 w-full z-50 max-md:h-[65px] h-[100px] flex justify-between items-center bg-white max-md:px-[16px] min-md:px-[80px] px-[180px];
	}
	.header-nav {
		@apply flex gap-8 max-lg:hidden max-xl:gap-3;
	}

	.logo {
		@apply max-sm:w-[66px] max-sm:h-[33px] w-[120px] min-w-[120px] h-[60px] cursor-pointer bg-no-repeat bg-center bg-contain bg-[url('/assets/icons/nutrioscale-logo.svg')];
	}

	.menu {
		@apply fixed top-0 right-[-100%] w-[50%] h-full bg-gray z-[-1] p-10 pt-30 overflow-scroll;
	}
	.discount-button {
		@apply flex justify-center items-center text-white min-w-[201px] w-[201px] h-[43px] rounded-[24px] bg-linear-[var(--gradient-green)] cursor-pointer z-[-1];
	}
	.hero {
		@apply max-md:pt-[65px] pt-[100px] w-full h-[900px] bg-no-repeat bg-bottom bg-contain bg-[url('/assets/images/hero.png')];
	}
	.hero-card {
		@apply absolute top-[360px] left-[16%] w-[815px] flex flex-col gap-8 z-10 h-[366px] max-xl:left-[8%] max-lg:right-[8%] max-lg:w-auto;
	}
	.star {
		@apply w-[24px] h-[24px] bg-no-repeat bg-center bg-contain bg-[url('/assets/icons/star.svg')];
	}
	.preorder-button {
		@apply flex items-center justify-center w-[263px] h-[56px] min-h-[56px] bg-green text-[20px] leading-[24.2px] text-white font-inter rounded-3xl cursor-pointer font-semibold drop-shadow-[0_4px_6px_#48C263];
	}

	.presentation-card-text {
		@apply font-helvetica text-[18px] leading-[24px] text-dark sm:text-[20px] sm:leading-[27.6px];
	}
	.presentation-card-header {
		@apply font-inter text-[32px] leading-[40px] text-dark font-semibold sm:text-[36px] sm:leading-[43.6px];
	}
	.presentation-card {
		@apply relative overflow-hidden rounded-2xl bg-beige;
	}
	.ai-powered-camera {
		@apply max-w-[1000px] h-[540px] bg-[auto_360px] bg-no-repeat bg-bottom bg-[url(/assets/icons/weight-1.png)] sm:h-[835px] sm:bg-[auto_835px] sm:bg-center;
	}

	.home-page-logo {
		@apply xl:absolute xl:top-[24px] xl:left-[50%] xl:translate-x-[-50%] w-[121px] h-[60px] bg-no-repeat bg-center bg-contain bg-[url(/assets/icons/nutrioscale-logo.svg)] 2xl:left-[482px] 2xl:translate-x-0;
	}
	.markets {
		@apply w-[155.6px] h-[52px] bg-no-repeat bg-center bg-contain;
	}
}

.home-page-gradient {
	background: linear-gradient(180deg, #eaf3e3 0%, #f2f1f7 100%);
}

@theme {
	--home-page-gradient: (180deg, #eaf3e3 0%, #f2f1f7 100%);
	--breakpoint-3xl: 1920px;
	--breakpoint-2xl: 1728px;
	--breakpoint-1xl: 1600px;
	--breakpoint-xl: 1440px;
	--breakpoint-lg: 1024px;
	--breakpoint-md: 820px;
	--breakpoint-sm: 600px;

	--color-*: initial;
	--color-white: #fff;
	--color-dark: #0e1318;
	--color-dark-secondary: #333333;
	--color-gray: #d9d9d9;
	--color-beige: #d6cfc1;
	--color-beige-100: #f0eeea;
	--color-green: #4ad769;
	--color-green-secondary: #57a04c;
	--color-green-light: #dff1dc;

	--font-inter: 'Inter', 'Aria', sans-serif;
	--font-helvetica: 'Helvetica', 'Aria', sans-serif;
	--font-nexa: 'Nexa', 'Aria', sans-serif;
	--font-aeonik-trial: 'Aeonik Trial', 'Aria', sans-serif;

	--animate-menu-open: menu-open 300ms ease-in-out forwards;
	--animate-menu-close: menu-close 300ms ease-in-out;
	@keyframes menu-open {
		0% {
			right: -100%;
		}
		100% {
			right: 0;
		}
	}
	@keyframes menu-close {
		0% {
			right: 0;
		}
		100% {
			right: -100%;
		}
	}
}
